nav {
  grid-area: nav;
  display:flex;
  justify-content: center;
  color: inherit;
  background-color: lightgray;
  border-bottom: 1px solid gray;
}

nav ul {
  display:flex;
  flex:1;
  flex-wrap: wrap;
  padding:0;
  margin:0;
}

nav li {
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  text-align: center;
  list-style: none;
  margin:0;
}
nav li:hover,
nav li:active,
nav li:focus {
  font-weight: 700;
  transition: 0.3s;
  background-color: gray;
  color: white;
}

body{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: gray;
  height: 100vh;
  padding: 1rem;
  margin: 0;
  background-color: lightgray;
  min-width: 480px;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button, 
input, 
select, 
textarea {
  font-weight: 700;
  border-color: gray;
  border-radius: 6px;
  padding: 0.5rem 1.25rem;
  border: none;
}
input, 
select, 
textarea {
  color: gray;
  background-color: white;
  font-size: 1rem;
  border: 1px solid darkgray;
  flex:1;
}

button {
  color: white;
  background-color: lightgray;
  align-self: center;
}

button:hover,
button:active,
button:focus {
  color:whitesmoke;
  background-color: gray;
  border-color: darkgray;
  box-shadow: none;
  transition: 0.3s;
}

textarea {
  resize: none;
}

legend {
  font-weight: 700;
  border-color: gray;
  padding: 0rem .5rem;
}
fieldset {
  display:flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: white;
}

hr {
  width: 90%;
  border-width: 2px;
  border-radius: .25rem;
}

form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 2px 2px 4px gray;
  border-radius: 8px;
  background-color: whitesmoke;
  max-width: 600px;
  padding: 1rem;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: lightgray;
  border-top: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(1rem) 1fr 3rem;
  background: whitesmoke;
  grid-template-areas:
    'nav'
    'main'
    'footer';
  padding: 1rem;
  border-radius: 8px;
}
.template {
  grid-area: main;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
  background-color: lightgray;  
  scroll-behavior: auto;
}

form > span {
  display:flex;
  gap: 1rem;
  align-items: center;
}